body{
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color:lightblue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Lexend Peta', sans-serif;
}

header h1{
    color: black;
    font-size: 50px;
}

header img{
    border-radius: 350px;
    width: 200px;
    border: 20px solid black;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 30 px;
    color: red;
    margin: 40px 0 10px;
}

a{
  color: red;  
}

a:hover{
   opacity: .5;
    color: white;
    background-color: purple; 
}

footer{
    background-color: lightblue;
    text-align: center;
    color: black;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
}

p.caption{
    color: grey;
    font-style: italic;
    margin-top: 0;
    text-align: center;
}